</main>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l7 s12">
        <h5 class="white-text">About WotStats</h5>
        <p class="grey-text text-lighten-4">Welcome to WoTStats, a World of Tanks Statistics Tracker. Here you can track any World of Tanks players statistics and WN8 progression in a nice looking way. Statistics includes also medals and detailed tanks stats with changes over time. You can update your stats whenever you want.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Related sites</h5>
        <ul>
          <li><a class="white-text" href="https://worldoftanks.eu" target="_blank">World of Tanks</a></li>
          <li><a class="white-text" href="http://www.wnefficiency.net/wnexpected/" target="_blank">Reference</a></li>
          <li><a class="white-text" href="http://modxvm.com/en/" target="_blank">XVM</a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/peterbartha" target="_blank">GitHub</a></li>
          <li><a class="white-text" href="https://twitter.com/BarthaPeter" target="_blank">Twitter</a></li>
          <li><a class="white-text" href="https://peterbartha.com" target="_blank">Website</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Developed by <a class="teal-text text-lighten-3" href="https://peterbartha.com" target="_blank">Peter Bartha</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="/js/init.js"></script>
<script src="/js/charts.js"></script>

</body>
</html>
