<% include header %>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">World of Tanks Statistics Tracker</h1>
      <div class="row center">
        <h5 class="header col s12 light">Calculate advanced player stats: WN7, WN8, efficiency (EU players only)</h5>
      </div>
      <div class="row center">
        <input type="text" class="col s12 m3 offset-m3" placeholder="Player's nickname" autofocus />
        <div class="col s12 m3">
          <a href="/playername/statistics" id="search-button" class="btn-large waves-effect waves-light red accent-2"><i class="material-icons left">search</i> Search</a>
        </div>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m5">
          <div class="icon-block">
            <h5>WN8 reference</h5>
            <p class="light">This website calculate World of Tanks players WN8 rating, and assigns a different color according to the official WN8 specification at <a href="http://wiki.wnefficiency.net/pages/WN8" target="_blank">wnefficiency.net</a>.</p>
            <p class="light">You can see the table of expected tanks value used to calculate your WN8 rating at <a href="http://www.wnefficiency.net/wnexpected/" target="_blank">this page</a>. The current table version WoTstats.org is now using is the <b>v27</b>.</p>
          </div>
        </div>

        <div class="col s12 m5 offset-m2">
          <div class="icon-block">
            <h5>Reporting bugs</h5>
            <p class="light">Your help is always appreciated! You can report any bugs/errors you found. Suggestions are also taken into great consideration for future development.</p>
            <a href="mailto:mail@peterbartha.com" id="" class="btn-large waves-effect waves-light red accent-2"><i class="material-icons left">email</i> Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include footer %>