<% include header %>
  <div class="container">
    <div id="validation-needed-section" class="section">
      <div class="row">
        <secion class="col s12 m6 offset-m3 center">
          <img src="img/email-verification-sent.svg" alt="Verification email sent" />
          <h5>Confirm your email address</h5>
          <p>
            <span>Confirmation email has been sent to:</span>
            <br />
            <strong>youremail@example.com</strong>
          </p>
          <p>Click on the link in the email to activate your account.</p>
            <hr />
          <div id="not-receiving">
            <span class="bolder ng-scope" translate="">Not receiving the email?</span>
            <br />
            <a href="" translate="" class="ng-scope">Resend confirmation email</a>
            <br />
            <span class="grey-text ng-scope" translate="">or check your junk folder</span>
          </div>
        </secion>
      </div>
    </div>
  </div>
<% include footer %>